.entry{
    // border: 1px solid #5792cf;
    // justify-content: space-evenly;
    // text-align: center;
    // align-self: center;
    vertical-align: middle;
    max-width: 30%;
    padding: 1% 2%;
    
    margin: 4% 30%;

    width: 50%;
    text-align: left;
}



.labelform{
    display: flex;
    align-items: center;
    // justify-content: flex-start;
    justify-content: flex-start;
    // font-size: 18px;
   h5{ padding: 0;
    margin: 10px;
    width: 120px;
   }
   input{
    width: 290px;
    min-width: 290px;
   }
   select{
    width: 240px;
    min-width: 240px;
    color: aliceblue;
   }

  
  /* Style the down arrow icon */
  select::after {
    content: '\25BC'; /* Unicode character for down arrow */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #FF0000; /* Change the color to your desired color */
  }
   .date{
    width: 240px !important;
    min-width: 240px !important;
   }
}
