.App {
  /* text-align: center; */
  /* display: flex; */
  align-items: center;
  color: #5792cf !important;
  justify-content: center;
  font-size: 24px;
}
input{
  background-color: #5792cf !important;
  height: 37px;
  border: 0;
}

select{
  background-color: #5792cf !important;
  height: 37px;
  border: 0;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.df{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  margin: 15px;
}

nav{
  background-color: #5792cf !important;

 
}

li{
  padding: 4px 20px !important;
  list-style-type: none;
  color: white;
}
a{
  text-decoration: none;
  color: white;
  transition: color .4s ease-in-out;
}
a:hover{
  color: rgb(195, 195, 195);
}

.tu{
  text-decoration: underline;
}

.active{
  background-color: white;
  color: #5792cf;
}


th{
  border-left: 1px solid #5792cf;
  color:#5792cf !important;
  font-weight: 600 !important;
  border-bottom:  2px solid #5792cf !important;
}

td{
  border-left: 1px solid #5792cf;
  border-bottom: 1px solid #5792cf !important;
  color:#5792cf !important;

  padding: 8px !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


